html {
  background: linear-gradient(#7AD7FE, #E9F6FD);
}

body {
  margin: 0px;
}

h1 {
  margin: 0px;
}

/* Navigation Styling */

@media screen and (min-width: 1181px) {
  .headerContainer {
    width: 1140px;
    margin: 0px auto 0px auto;
  }
}

@media screen and (max-width: 1180px) {
  .headerContainer {

  }
}

nav {
  height: 50px;
  background: #F2FAFD;
  position: fixed;
  top: 0px;
  width: 100%;
}

@media screen and (min-width: 1181px) {
  #headerLink {
    position: relative;
    padding-left: 1103px;
    top: -40px;
    /* right: 13px; */
  }

  #menuIcon {
    /* position: relative;
    top: 13px;
    right: 13px; */
    fill: #01B2FE;
  }
}

@media screen and (max-width: 1180px) {
  #menuIcon {
    position: fixed;
    top: 13px;
    right: 13px;
    fill: #01B2FE;
  }
}


@media screen and (min-width: 1181px) {
  .main {
    width: 1140px;
    margin: 50px auto 0px auto;
  }
}

@media screen and (max-width: 1180px) {
  .main {
    margin-top: 50px;
  }
}

h1 {
  font-family: 'Spectral SC', serif;
  font-size: 24px;
  color: #3B2D14;
  font-weight: 300;
}

h2 {
  font-family: 'Spectral SC', serif;
  font-size: 24px;
  color: #3B2D14;
  font-weight: 300;
  padding: 25px 0px 0px 0px;
}

h3 {
  font-family: 'Spectral', serif;
  font-size: 16px;
  color: #3B2D14;
  font-weight: 300;
  padding: 10px 0px 0px 0px;
}

p {
  font-family: 'Spectral', serif;
  font-size: 14px;
  color: #3B2D14;
}

@media screen and (min-width: 1181px) {
  section {
    padding: 35px 0px 45px 0px;
    border-bottom: solid #F2FAFD 2px;
  }
}

@media screen and (max-width: 1180px) {
  section {
    padding: 35px 20px 45px 20px;
    border-bottom: solid #F2FAFD 2px;
  }
}


.card {
  background-color: #F2FAFD;
  border-radius: 6px;
  margin: 10px;
}

.card .text {
  padding-left: 20px;
  padding-bottom: 20px;
}

.card img {
  width: 100%;
  border-radius: 6px 6px 0px 0px;
}


/* Footer Styling */

footer {
  /* position: absolute;
  bottom: 0; */
  width: 100%;
  height: 84px;
  background: #F7F0EA;
  border-top: solid 3px;
  border-top-color: #08BEED;
}

footer ul {
  list-style-type: none;
  margin: auto;
  padding: 20px 0px;
  position: relative;
  text-align: center;
}

footer a {
  font-family: 'Spectral SC', serif;
  font-size: 12px;
  color: #A16415;
  text-decoration: none;
}
